@{
    Layout = "";
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    ViewBag.Title = "Welcome!";
    @Styles.Render("~/Content/Home.css")
    @Styles.Render("~/Content/font-awesome.css")
    <link href='http://fonts.googleapis.com/css?family=Gochi+Hand' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Happy+Monkey' rel='stylesheet' type='text/css'>
}

<div class="fullscreen-bg">
    <video loop muted autoplay poster="~/Content/Images/baking_vid_still.PNG" class="fullscreen-bg__video">
        <source src="~/Content/Videos/baking.webm" type="video/webm">
        <source src="~/Content/Videos/baking.mp4" type="video/mp4">
        <source src="~/Content/Videos/baking.ogv" type="video/ogg">
    </video>
</div>

<div class="content-container">
    <div class="content">
        <h1>
            <i class="fa fa-cutlery"></i> MVC5DessertCafe
        </h1>
        <div class="enter-container">
            <a href="@Url.Action("Index", "Foods")">
                <h2>Enter</h2>
            </a>
        </div>
        <div class="legal-container">
            <p>Stock video background courtesy of <a href="https://videos.pexels.com/" target="_blank">Pexels Videos</a></p>
            <p>
                <b>&copy; Angie Siu</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://angiesiudevworks.com" target="_blank"><i class="fa fa-terminal"></i> angie siu dev works</a>
                <br />
                <em>All dessert images are property of Angie Siu.</em>
            </p>
        </div>
    </div>
</div>