<a href="~/Content/Images/@Model.File" class="gallery-link with-caption-image-link" title="@Model.Name">
    <img src="~/Content/Images/@Model.File" alt="@Model.Name" class="img-responsive food-image" />
</a>